
.card {
    border-radius: 1em;
    border-color: brown;
    border-width: 4px;
    background-color: beige;
}

#imagen {
    border-radius: 1em;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

.card-text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

